.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.svg {
	width: 10rem;
	height: 10rem;
	margin-block-end: 4rem;
}

.subheader {
	font-size: var(--font-size-lg);
	margin-block-end: 4rem;
	text-transform: uppercase;
}
